run = "rustup default nightly && cd matador-rs && cargo run"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"



[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "rustup default nightly && cd matador-rs && cargo build"]
run = ["sh", "-c", "cd matador-rs && cargo run"]
