run = "DEBUG_LOG=info cargo run"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "cargo build"]
run = ["sh", "-c", "cargo run"]
